{% extends 'main/layout.html' %}

{% block title %}მთავარი{% endblock %}

{% block headera %}
    <div id="mmemu">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nemo velit incidunt itaque fugit consequuntur excepturi molestias nobis vitae, hic ut vero est deleniti, voluptatem esse voluptates, iure magnam ipsum?
    </div>
    
    {% endblock %}   

{% block content %}
<article class="uk-article">
    <h1 class="uk-article-title"> Lorem ipsum dolor </h1>
    <p class="uk-article-meta"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos inventore magnam labore rem possimus culpa esse nostrum repellat ex voluptatibus, dolores adipisci nam quo corrupti aspernatur? Nemo quos maxime molestias. </p>
</article>
 {% endblock %}   